*{
    margin:0;
    padding:0;

}
/* TOP NAVIGATION SECTION  */
body{
    /* background-color: rgb(141, 110, 110); */
    /* background-color: #E5E3C9; */
    background-color: #C3B091;
}
#navbar{
    display: flex;
    align-items: center;
    position: fixed;
    width:100%;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.05;
}
/* navigation : logo  */
#logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px 0px;
    padding: 0px 0px;
}
/* navigation: image  */
#logo img{
    height: 90px;
    width: 90px;
    padding: 5px;
}
#navbar ul {
    display: flex;
    
}
#navbar ul li{
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 17px 10px;
    list-style: none;
}
#navbar ul li a{
    display: block;
    padding: 3px 3px;
    margin: 20px 10px;
    border-radius: 9px;
    color: black;
    text-decoration: none;
}
#navbar ul li a:hover{
    text-decoration: underline;
    color: black;
    background-color: cornsilk;
}


/* HOME SECTION  */
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 42px 44px;
    height: 400px;
}
#home::before{
    content: "";
    position: absolute;
    background: url('img/pexels-pixabay-326279.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#heading{
    text-align: center;
}
#heading h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.2rem;
}
#heading p{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 4px 4px;
    margin: 1px 12px;
}
.button{
    display: block;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3px 3px;
    margin: 22px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: burlywood;
    cursor: pointer;
   
}
.button:hover{
    background-color: white;
    color: black;
}

/* SERVICES BAR  */
#service-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#service-container::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
}
#service-container h1{
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 200px;
    
}
#services{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid black; */
}
.box{
    height: 300px;
    width: 340px;
    border: 3px solid black;
    padding: 12px 75px;
    margin: 2px 4px;
    margin-bottom: 23px;
    margin-top: 16px;
    border-radius: 15px;
    background-color: rgb(226, 218, 218);
}
#services .box img{
    height: 120px;
    width: 190px;
    padding: 12px 80px;

}

.box h3{
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box p{
    text-align: center;
}

.c1 h1{
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 100px;
}

/* CLIENTS SECTIONS  */
#client-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 14px auto;

}
#client-container::before{
    content: "";
    /* background: url('img/pexels-pixabay-326279.jpg') no-repeat center center/cover; */
    position: absolute;
    height: 40%;
    width: 100%;
    /* z-index: -1;
    opacity: 0.7; */
}
#clients{
    display: flex;
    flex-direction: row;
    /* padding: 74px auto ; */
}
.c-box{
    padding: 23px 6px;
    margin: 5px 6px;
    border: 3px solid black;
    background-color: rgb(226, 218, 218);
    border-radius: 24px;
}
#clients img{
    height: 4.2rem;
    width: 21.5rem;
   
}


/* CONTACT SECTION  */
#contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 53px 82px;
    
}
#contact-container::before{
    content: "";
    position: absolute;
    /* background: url('img/business-3365325_640.png') no-repeat center center/cover; */
    height: 58%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#contact{
    display: flex;
    padding: 7px 15px;
    border: 2px solid #C3B091;
    /* box-shadow: 12px 12px 30px white; */
    margin: 10px auto;
}
/* .form-group{
    padding: 7px 72px;
} */
#contact-container input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1rem;
}
#contact-container h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.2rem;
    margin-top: 60px;;
}
/* .food{
    margin: 34px;
} */